* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

section {
  margin: auto auto;
}

.intro {
  background-color: black;
  color: aliceblue;
}

.skills {
  background-color: none;
  color: black;
}

.projects {
  background-color: rebeccapurple;
  color: white;
}
